/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    margin: 0;
    padding: 0;
}

main {
    padding: 2em;
    max-width: 250px;
    margin: 2em auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 2em;
}

h1 {
    color: #04080c;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #04080c; 
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #f0f8ff; 
    border-radius: 4px;
}

button {
    padding: 0.5em 8.2em;
    background-color: #1e90ff; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    white-space: nowrap;
    width: auto;
}

button:hover {
    background-color: #1c86ee; 
}
