/* stylesAddDoc.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

header {
    background-color: white; 
    color: black;
    padding: 1em;
    text-align: center;
    width: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo {
    width: 50px; 
    height: auto;
    margin-bottom: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

nav ul li {
    margin: 1em 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.5em 0;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1c86ee; 
}

nav ul button {
    padding: 0.5em 1em;
    background-color: #ff4500; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 1em;
    width: 80%;
    margin-left: 10%;
}

nav ul button:hover {
    background-color: #e03e00; 
}

main {
    flex: 1;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #050505; 
    text-align: center; 
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #050505; 
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #050505; 
    border-radius: 4px;
}

#drop-area {
    border: 2px dashed #050505;
    padding: 1em;
    text-align: center;
    color: #050505;
    border-radius: 4px;
    margin-bottom: 1em;
}

#drop-area p {
    margin: 0;
    font-size: 1.2em;
}

button[type="submit"] {
    padding: 0.5em 1em;
    background-color: #1e90ff; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    white-space: nowrap; 
    width: auto; 
}

button[type="submit"]:hover {
    background-color: #1c86ee; 
}

.highlight {
    border-color: #050505; 
}
